<div th:fragment="scripts">
    <!-- jQuery -->
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/jquery/jquery-ui.min.js}"></script>
    <script th:src="@{/lib/jquery-mask/jquery.mask.min.js}"></script>

    <!-- DataTables -->
    <script th:src="@{/lib/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/lib/datatables/dataTables.rowReorder.min.js}"></script>
    <script th:src="@{/lib/datatables/dataTables.responsive.min.js}"></script>
    <script th:src="@{/lib/datatables/dataTables.select.min.js}"></script>
    <script th:src="@{/lib/datatables/dataTables.buttons.min.js}"></script>
    <script th:src="@{/lib/datatables/dataTables.cellEdit.js}"></script>
</div>
